<%- include('../partials/header'); -%>
<div class="container">
    <div class="row">
        <div class="col md-3">
            <!-- <div class="list-group">
                <li class="list-group-item active">Info 1</li>
                <li class="list-group-item">Info 2</li>
                <li class="list-group-item">Info 3</li>
            </div> -->
        </div>
        <div class="col-md-9 my-4" >
            <div class="img-thumbnail bg-light" style="border: 2px solid rgb(0, 0, 0); padding: 10px;">
                <img style="width: 100%;" class="img-responsive" src="<%= campgrounds.image %> ">
                <div class="caption">
                    <h4><a><%= campgrounds.name %></a></h4>
                    <p><%= campgrounds.description %></p>
                    <p>
                        <em>Submitted By <%= campgrounds.author.username %></em>
                    </p>
                    <% if(currentUser && campgrounds.author.id.equals(currentUser.id)){ %>
                    <a class="btn btn-outline-warning" href="/campgrounds/<%= campgrounds._id %>/edit">Edit</a>
                    <form style="display: inline;" action="/campgrounds/<%= campgrounds._id %>?_method=DELETE" method="post">
                        <button class="btn btn-outline-danger">Delete</button>
                    </form>
                    <% } %>
                </div>
            </div>
            <div class="well bg-light my-4" style="border: 2px solid rgb(0, 0, 0); padding: 10px;">
                <div class="text-right">
                    <a class="btn btn-success" href="/campgrounds/<%= campgrounds._id %>/comments/new">Add New
                        Comment</a>
                </div>
                <hr>
                <% campgrounds.comments.forEach(function(comment){ %>
                <div class="row">
                    <div class="col-md-12">
                        <%= comment.author.username %>
                        <span class="pull-right">10 Days Ago</span>
                        <p>
                            <%= comment.text %>
                        </p>
                    </div>
                </div>
                <% }) %>
            </div>
        </div>
    </div>
</div>


<!-- <p><%= campgrounds.description %></p>
<p>
    <a class="btn btn-primary" href="/campgrounds/<%= campgrounds._id %>/comments/new">Add New Comment</a>
</p>
<% campgrounds.comments.forEach(function(comment){ %>
    <p>
        <strong><%= comment.author %></strong> - <%= comment.text %>
    </p>
<% }) %> -->

<%- include('../partials/footer'); -%>